*{
    margin: 0;
}
.show-on-med{
    display: none;
}
#logo{
    width: auto;
    height: 64px;
}
ul.head-menu li {
    margin: 0 15px;
    display: inline-flex;
    color: #e65100;
}
ul.head-menu li a{
    color: #f9e71a ;
}
ul.head-menu li:first-child a {
    color: #e65100;
}
.parthners {
    background: #ebebeb;
    padding-top: 7px;
    text-align: center;
    padding-left: 130px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}